{% extends 'app_coder/base.html'%}

{% load static %}
{% block main_content %}
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Cuenta</h1>
            </div>
        </header>
        <!-- About section-->
        <body>
            <form enctype='multipart/form-data' method='POST'>{% csrf_token %}
                <table>
                    {{ formulario.as_table }}
                </table>
                <input type="submit", value='Enviar'>
            </form>
        </body>
        {% endblock main_content %}