{% extends 'app_coder/base.html'%}

{% load static %}
{% block main_content %}
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Curso Borrar</h1>
            </div>
        </header>
        <!-- About section-->
        <body>
            <form method='POST'>{% csrf_token %}
                <p>Estas seguro que quieres borrar tu blog?</p>
                <input type='submit' value='Submit'/>
            </form>
        </body>
        {% endblock main_content %}