{% extends 'app_coder/base.html'%}

{% load static %}
{% block main_content %}

<!DOCTYPE html>
<html lang=”en”>
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Publicar</h1>
        </div>
    </header>
<body>
    <p>Escriba el comentario que quiere hacer</p>
    <form action="/comentario/" method="POST">
        
        <p> Titulo: <input type='text' name='titulo'></p>
        <p> Base: <input type='text' name='mensaje' size="100"></p>
        <p> Tu nombre de usuario: <input type='text' name='creador'></p>
        {% csrf_token %}
        <p><input type="submit" value="Subir">
    </form>
</body>
</html>

{% endblock main_content %}