{% extends 'app_coder/base.html'%}

{% load static %}
{% block main_content %}
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Inicio</h1>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Comentarios subidos:</h2>
                        <ul>
                            {% for comentario in comentarios %}
                                <p class="lead"> {{comentario.titulo}} </p>
                                <p> {{comentario.mensaje}} </p>
                                <p>Creado por: {{comentario.creador}};    fecha: {{comentario.fecha_creacion}}</p><br>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {% endblock main_content %}

