{% extends 'app_coder/base.html'%}

{% load static %}
{% block main_content %}

<!DOCTYPE html>
<html lang=”en”>
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Publicar</h1>
        </div>
    </header>
<body>
    <p>Escriba el comentario que quiere hacer</p>
    <form action="/mensaje/crear/" method="POST">
        
        <table>
            {{formulario.as_table}}
        </table>
        {% csrf_token %}
        <p><input type="submit" value="Subir">
    </form>
    <p>{{mensaje}}</p>
</body>
</html>

{% endblock main_content %}